.form-contact {
    margin: auto;
    padding: 20px;
    padding-right: 42px;
    padding-left: 42px;
}

.controls,
.controlsMessage {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    margin-bottom: 16px;
    font-family: 'Rubik', sans-serif;
}

.controlsMessage {
    min-height: 100px;
    max-height: 200px;
    max-width: 600px;
    margin-bottom: 20px;
    height: 100px;
}

.buttons {
    padding: 10px;
    background-color: white;
    border: 0px;
    font-size: 1.5rem;
    font-weight: bolder;
    &:hover {
        cursor: pointer;
    }
}