@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    font-family:'Rubik', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    color: rgba(173, 103, 146, 0.932);
    font-family: 'Rubik', sans-serif;
}

.header-container{
    position: sticky;
    top: 0px;
}

header{
    padding: 10px;
    background-color: rgb(253, 200, 210);
    color: rgb(173, 103, 146);
    font-family: 'Rubik', sans-serif;
}

nav{
    background-color: rgba(255, 188, 199, 0.445);
}

h1{
    padding: 20px;
}

.form-contact{
    margin: auto;
    padding: 20px;
    padding-right: 42px;
}

.controls, .controlsMessage{
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.14);
    margin-bottom: 16px;
    font-family: 'Rubik', sans-serif;
}

.controlsMessage{
    min-height: 100px;
    max-height: 200px;
    max-width: 600px;
    margin-bottom: 20px;
    height: 100px;
}

.buttons{
    padding: 10px;
    padding-left: 32px;
    background-color: white;
    border: 0px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.buttons:hover{
    cursor: pointer;
}

footer{
    background-color: rgba(255, 188, 199, 0.774);
}

nav ul li{
    list-style-type: none;
}

li{
    padding: 2px;
}

.menuLogo{
    grid-area: logo;
}

.navLinks{
    grid-area: nav; 
}

.grid-nav{
    padding: 10px;
    align-items: center;
    display: grid;
    grid-template-areas: 
    "nav logo .";
    grid-template-columns: 1fr 2fr 1fr;
}

footer{
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.social-media-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
    margin-bottom: 10px;
}

footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";

}

.galeria-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.imagenPrincipal{
    width: 495px;
    height: 199px;
}

.imagenProducto{
    border: 10px solid rgba(128, 128, 128, 0.137);
    width: 195px;
    height: 200px;
    margin-top: 10px;
}

@media (min-width:500px){

    html{
        font-size: 14px;
    }

    body{
        font-size: 1.4rem;
}

    a{
        text-decoration: none;
    }

    .grid-nav{
        padding: 15px;
    }

    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .imagenLogo{
        width: 130px;
    }

    .imagenPrincipal{
        width: 767px;
        height: 298px;
    }
    
    .imagenProducto{
        width: 340px;
        height: 390px;
        margin-top: 10px;
    }

    footer{
        margin-top: 0px;
    }
}

@media (min-width:768px){

    body{
        font-size: 1.2rem;
}

    .form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .controls, .controlsMessage{
        width: 600px;
    }

    .buttons{
        font-size: 1.2rem;
    }
}

@media (min-width:1024px){

    header, nav{
        font-size: 1.1rem;
    }

    .grid-nav{
        padding: 0px;
        grid-template-columns: 1fr 2fr 2fr;
}

    .navLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
    }

    li{
        padding: 15px;
    }

    .imagenPrincipal{
        width: 1055px;
        height: 355px;
    }

    .imagenProducto{
        transition-property: all;
        transition-duration: 2s;
    }

    .imagenProducto:hover{
        transform: scale(1.1);
    }





}