@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: rgba(173, 103, 146, 0.932);
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.header-container {
    position: sticky;
    top: 0px;
}

header {
    padding: 1px;
    background-color: rgb(253, 200, 210);
    color: rgb(173, 103, 146);
    font-family: 'Rubik', sans-serif;
}

.announcementContainer {
    padding-top: 12px;
}

.bg {
    background-color: rgba(255, 188, 199, 0.445);
}

h1 {
    padding: 20px;
}

.form-contact {
    margin: auto;
    padding: 20px;
    padding-right: 42px;
}

.controls,
.controlsMessage {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    margin-bottom: 16px;
    font-family: 'Rubik', sans-serif;
}

.controlsMessage {
    min-height: 100px;
    max-height: 200px;
    max-width: 600px;
    margin-bottom: 20px;
    height: 100px;
}

.buttons {
    padding: 10px;
    padding-left: 32px;
    background-color: white;
    border: 0px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.buttons:hover {
    cursor: pointer;
}

footer {
    background-color: rgba(255, 188, 199, 0.774);
}

li {
    padding: 2px;
}

footer {
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.social-media-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    margin-bottom: 10px;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.imagenPrincipal {
    width: 495px;
    height: 199px;
}

.imagenProducto {
    width: 195px;
    height: 200px;
    margin-top: 10px;
}

.card-title {
    color: #bc898a;
    font-size: larger;
    font-weight: bold;
}

.card-text {
    color: #bc898a;
}

.footer-menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.footer-menu li {
    padding-bottom: 10px;
}

@media (min-width:500px) {

    html {
        font-size: 14px;
    }

    body {
        font-size: 1.4rem;
    }

    a {
        text-decoration: none;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    nav ul li {
        padding-bottom: 7px;
    }

    .imagenPrincipal {
        width: 767px;
        height: 298px;
    }

    .imagenProducto {
        width: 340px;
        height: 390px;
        margin-top: 10px;
    }

    footer {
        margin-top: 0px;
    }
}

@media (min-width:768px) {

    body {
        font-size: 1.2rem;
    }

    .grid-nav {
        padding: 10px;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .form-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .controls,
    .controlsMessage {
        width: 600px;
    }

    .buttons {
        font-size: 1.2rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footer-description {
        padding: 20px;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }

    .redesSociales {
        padding: 10px;
    }

}

@media (min-width:1024px) {

    header,
    nav {
        font-size: 1.1rem;
    }

    .grid-nav {
        padding: 0px;
        grid-template-columns: 1fr 2fr 2fr;
    }

    li {
        padding: 15px;
    }

    .imagenPrincipal {
        width: 1055px;
        height: 355px;
    }

    .imagenProducto {
        transition-property: all;
        transition-duration: 2s;
    }

    .imagenProducto:hover {
        transform: scale(1.1);
    }

    .container-text-eyd {
        text-align: left;
        padding: 30px;
        color: rgb(173, 103, 146);
        ;
    }

}